<h1>Listado de franquicias</h1>
<%= javascript_tag do %>
	var latitudes = [];
	var longitudes = [];
	var areaTotal = [];
<% end %>
<% @franchises.each do |f| %>
	<%= javascript_tag do %>
		latitudes.push("<%= f.latitude %>")
		longitudes.push("<%= f.longitude %>")
		<% if f.area.nil? %>
			areaTotal.push('');
		<% else %>
			areaTotal.push("<%= f.area.split(",").map(&:to_f) %>")
		<% end %>
	<% end %>
<% end %>
<div id="map-canvas" style="width: 800px; height: 400px"></div>
<table class="table">
	<tr>
		<th>Titular</th>
		<th>Teléfono</th>
		<th>Provincia</th>
		<th>Zona</th>
		<th>Dirección</th>
		<th>Acción</th>
	</tr>
	<% @franchises.each do |f| %>
	<tr>
		<td><%= f.owner_name %></td>
		<td><%= f.owner_phone %></td>
		<td><%= f.province %></td>
		<td><%= f.zone %></td>
		<td><%= f.address %></td>
		<td>
			<%= link_to("Ver", {:action => 'show', :id => f.id}, :class => 'action-show') %>
			<%= link_to("Editar", {:action => 'edit', :id => f.id}, :class => 'action-edit') %>
			<%= link_to 'Eliminar', franchise_path(f.id), method: :delete, data: { confirm: '¿Está seguro de querer eliminar esta franquicia?' }, :class => 'action-destroy' %>
		</td>
	</tr>
	<% end %>
</table>

<% content_for :javascript do %>
  <%= javascript_include_tag 'franchise_index' %>
<% end %>