<%= javascript_tag do %>
	franchLat = ("<%= @franchise.latitude %>")
  franchLng = ("<%= @franchise.longitude %>")
  <% if @franchise.area.nil? %>
    areaTotal = ""
  <% else %>
    areaTotal = ("<%= @franchise.area.split(",").map(&:to_f) %>")
  <% end %>
<% end %>
<h1>Franquicia de <%= @franchise.owner_name %></h1>
<div id="map-canvas" style="width: 800px; height: 400px"></div>

  <p>
    <div class="title">
      Titular <br>
    </div>
    <%= @franchise.owner_name %> <br>
  </p>

    <p>
    <div class="title">
      Area <br>
    </div>
    <%= @franchise.area %> <br>
  </p>

  <p>
    <div class="title">
      Teléfono del Titular <br>
    </div>
    <%= @franchise.owner_phone %> <br>
  </p>

  <p>
    <div class="title">
      Teléfono del Titular <br>
    </div>
    <%= @franchise.owner_email %> <br>
  </p>

  <p>
    <div class="title">
      Provincia <br>
    </div>
    <%= @franchise.province %> <br>
  </p>
 
  <p>
    <div class="title">
      Zona <br>
    </div>
    <%= @franchise.zone %> <br>
  </p>

  <p>
    <div class="title">
      irección <br>
    </div>
    <%= @franchise.address %> <br>
  </p>

  <p>
    <div class="title">
      Código Postal <br>
    </div>
    <%= @franchise.zip_code %> <br>
  </p>

  <p>
    <div class="title">
      Código de Área <br>
    </div>
    <%= @franchise.area_code %> <br>
  </p>

  <p>
    <div class="title">
      Teléfono de la Franquicia <br>
    </div>
    <%= @franchise.phone_number %> <br>
  </p>

  <p>
    <div class="title">
      Email de la Franquicia <br>
    </div>
    <%= @franchise.email %> <br>
  </p>

<%= link_to 'Volver', franchises_path %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'franchise_show' %>
<% end %>